rerun.txt
./*.html
log/*.log
log/*.log.*
log/*.pid
log/*.output
db/*.db
db/*.sqlite3
db/schema.rb
tmp/**/*
coverage/*
.DS_Store
doc/api
doc/app
config/database.yml
public/cucumber_report/*.html
public/cucumber_report_report.html
public/images/post_images
*~
*#
.#*

